body
{
    text-align: center;
    font-family: Open Sans,sans-serif;
    background-color: rgb(45, 18, 53);
    color: #ffffff;
    margin: 0px 0px 30px 0px ;/*30px faz com que nenhum dos elementos fiquem grudados na barra inferiror  */
}
p
{
    font-size: 20px;
    line-height: 1.5;
}
h1
{
    font-size: 60px;
    font-weight: 300px;
}
h2
{
    font-size: 40px;
}
h3
{
    font-size: 22px;
    font-style: italic;

}
img
{
    width:100%;
}
.ada
{
color: rgb(179, 17, 117);
}

.infancia
{
    color: #04ff9f;
}

.juventude
{
    color: salmon;
}

.adulta
{
    color: rgb(241, 178, 16);
}
.navegacao1 
{
    background-color: #b6266e;
    height: 40px;  
    max-width: 60%;
    margin: 0 auto;
    
}
.navegacao1 ul li a
{
    color:#ffffff;
    text-decoration: underline;
    font-weight: normal;
}
.navegacao1 li
{
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;

   
}
ul
{
    list-style:none;
    line-height: 1.5;
    padding-left: 0;
    
}
section
{
    
    width: 60%;
    margin: 0  auto;
       
}
section section
{
    width: 100%;
}
.navegacao2 ul li a /*ou só .navegacao2  a */
{
    color: skyblue;
    text-decoration: none;
    font-weight: 700;
}
button
{
    background-color: #b6266e;
    border: 1px solid transparent;
    margin: 2px 20px;
    border-radius: 3px;
   
}
